@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url("../Fonts/shrikhand/Shrikhand-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("Fonts/roboto/Roboto-Light.ttf") format("truetype");
}
/*Footer*/
footer {
  background-color: #353535;
  padding: 20px;
}
footer .footer__heading {
  font-family: "Shrikhand", sans-serif;
  margin: 10px 0 0 0;
  color: white;
  font-size: initial;
  font-weight: normal;
}

.footer__menu {
  padding: 0;
}
.footer__menu li {
  list-style: none;
  margin-bottom: 5px;
}
.footer__menu .footer_text {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.FooterIcon {
  color: white;
  font-size: x-small;
  margin-right: 5px;
}

.omf_button {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  padding: 12px 40px 12px 40px;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0 50px 0;
  position: relative;
  z-index: 1;
}
.omf_button:hover::after {
  opacity: 1;
}
.omf_button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
}

.like {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.like .heart2 {
  left: 0;
  opacity: 0;
  position: absolute;
}
.like:hover {
  cursor: pointer;
  overflow: hidden;
}
.like:hover .heart1 {
  opacity: 0;
  transition: 0.5s 0s ease;
}
.like:hover .heart2 {
  color: #9356dc;
  opacity: 1;
  transition: 0.5s 0s ease;
  z-index: 999;
}

.loadspinner {
  animation: loadspinner 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background-color: rgba(10, 10, 10, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;
}
.loadspinner::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.loadspinner .spinner-wrapper {
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  width: 100px;
}
.loadspinner .spinner-wrapper .spinner-cover {
  background: #fff;
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}
.loadspinner .spinner-wrapper .spinner-bar {
  animation: spinner 2s linear infinite;
  background: #ff79da;
  border-radius: 100% 0 0;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 100% 100%;
  width: 50%;
}

@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg);
  }
  50% {
    background: #ff79da;
    transform: rotate(180deg);
  }
  100% {
    background: #fface8;
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/*Logo_top*/
.logo {
  text-align: center;
  padding: 15px;
}
.logo img {
  width: 60%;
  object-fit: cover;
}

/*Localisation*/
.localisation {
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-top: 1px solid #cfcfcf;
  box-shadow: 0 5px 0 0 #d5d5d5;
}
.localisation .map_icon {
  padding-right: 10px;
}

/*Déscription*/
.description {
  background-color: #f6f6f6;
  text-align: center;
  font-size: 0.9rem;
  padding: 30px;
}

.description > p {
  color: #7d7d7d;
}

/*Fonctionnement*/
aside {
  flex: 0 0 100%;
  padding: 30px 10px;
}
aside h2 {
  margin-bottom: 10px;
  margin-left: 5px;
  width: 100%;
}
aside .functioning {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  padding-top: 15px;
  position: relative;
  width: 100%;
  flex-direction: column;
}
aside .functioning_step {
  background-color: #f6f6f6;
  border-radius: 30px;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  flex: 1 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 25px 15px;
  position: relative;
  text-decoration: none;
}
aside .functioning_step .number {
  background-color: #9356dc;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 25px;
  left: -12px;
  line-height: 1.67;
  position: absolute;
  text-align: center;
  width: 25px;
}
aside .functioning_step .icon {
  display: inline-block;
  margin: 0 15px;
  min-width: 30px;
  color: gray;
}
aside .functioning_step .icon i {
  font-size: 20px;
}
aside .functioning_step .functioning_text {
  font-weight: bold;
  color: black;
}
aside .functioning_step:hover {
  background-color: #f2eafb;
  box-shadow: 2px 2px 10px 2px #e4d5f6;
}
aside .functioning_step:hover .icon {
  color: #9356dc;
}

/*Restaurants*/
.Cards {
  background-color: #f6f6f6;
  padding: 20px 10px 50px 10px;
}

.Cards > h2 {
  margin: 15px;
}

#Cards_Resto > a {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
  box-shadow: 0 0 20px 1px #00000026;
}

#Cards_Resto > a > img {
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.img_new {
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  padding: 3px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.Cards_text {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.Cards_text h3 {
  margin: 0;
}
.Cards_text p {
  margin: 0;
}

/*# sourceMappingURL=Ohmyfood.css.map */
