@font-face {
  font-family: "Shrikhand";
  src: url("../Fonts/shrikhand/Shrikhand-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("Fonts/roboto/Roboto-Light.ttf") format("truetype");
}
/*Footer*/
footer {
  background-color: #353535;
  padding: 20px;
}
footer .footer__heading {
  font-family: "Shrikhand", sans-serif;
  margin: 10px 0 0 0;
  color: white;
  font-size: initial;
  font-weight: normal;
}

.footer__menu {
  padding: 0;
}
.footer__menu li {
  list-style: none;
  margin-bottom: 5px;
}
.footer__menu .footer_text {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.FooterIcon {
  color: white;
  font-size: x-small;
  margin-right: 5px;
}

.omf_button {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  padding: 12px 40px 12px 40px;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0 50px 0;
  position: relative;
  z-index: 1;
  outline: none;
}
.omf_button:hover::after {
  opacity: 1;
}
.omf_button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
}

.like {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.like .heart2 {
  left: 0;
  opacity: 0;
  position: absolute;
}
.like:hover {
  cursor: pointer;
  overflow: hidden;
}
.like:hover .heart1 {
  opacity: 0;
  transition: 0.5s 0s ease;
}
.like:hover .heart2 {
  color: #9356dc;
  opacity: 1;
  transition: 0.5s 0s ease;
  z-index: 999;
}

@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg);
  }
  50% {
    background: #ff79da;
    transform: rotate(180deg);
  }
  100% {
    background: #fface8;
    transform: rotate(360deg);
  }
}
@keyframes check_box {
  10% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes caption_check_box {
  0% {
    opacity: 0.5;
    transform: translate(50px, 0);
  }
  20% {
    opacity: 0.6;
    transform: translate(30px, 0);
  }
  40% {
    opacity: 0.7;
    transform: translate(20px, 0);
  }
  60% {
    opacity: 0.8;
    transform: translate(15px, 0);
  }
  80% {
    opacity: 0.9;
    transform: translate(7px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(1px, 0);
  }
}
@keyframes caption_check_box_price {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spinner {
  0% {
    background: #fface8;
    transform: rotate(0deg);
  }
  50% {
    background: #ff79da;
    transform: rotate(180deg);
  }
  100% {
    background: #fface8;
    transform: rotate(360deg);
  }
}
@keyframes check_box {
  10% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-75deg) scale(1.03);
  }
  40% {
    transform: rotate(-60deg) scale(1.08);
  }
  60% {
    transform: rotate(-45deg) scale(1.15);
  }
  80% {
    transform: rotate(-30deg) scale(1.08);
  }
  100% {
    transform: rotate(5deg) scale(1);
  }
}
@keyframes caption_check_box {
  0% {
    opacity: 0.5;
    transform: translate(50px, 0);
  }
  20% {
    opacity: 0.6;
    transform: translate(30px, 0);
  }
  40% {
    opacity: 0.7;
    transform: translate(20px, 0);
  }
  60% {
    opacity: 0.8;
    transform: translate(15px, 0);
  }
  80% {
    opacity: 0.9;
    transform: translate(7px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(1px, 0);
  }
}
@keyframes caption_check_box_price {
  0% {
    transform: translate(50px, 0);
  }
  40% {
    transform: translate(25px, 0);
  }
  70% {
    transform: translate(12px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}
.loadspinner {
  animation: loadspinner 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background-color: rgba(10, 10, 10, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 999;
}
.loadspinner::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.loadspinner .spinner-wrapper {
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  vertical-align: middle;
  width: 100px;
}
.loadspinner .spinner-wrapper .spinner-cover {
  background: #fff;
  border-radius: 50%;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}
.loadspinner .spinner-wrapper .spinner-bar {
  animation: spinner 2s linear infinite;
  background: #ff79da;
  border-radius: 100% 0 0;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 100% 100%;
  width: 50%;
}

.Menu_card:hover {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
.Menu_card:hover .Menu_card_bottom_price {
  animation: caption_check_box_price ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  min-width: 50px;
}
.Menu_card:hover .caption_check_box {
  animation: caption_check_box ease 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  background-color: #99E2D0;
  display: block;
  max-width: 50px;
  overflow: hidden;
  transform-origin: 50% 50%;
  margin: -10px;
  padding: 20px;
}
.Menu_card:hover .fa-check-circle {
  animation: check_box ease 0.5s;
  animation-iteration-count: 1;
  background-color: #99E2D0;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #Cards_Resto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }

  .Cards_Menu {
    width: 48%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  aside .functioning {
    flex-direction: row;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #Cards_Resto > .Cards_Menu {
    width: 23%;
  }
}
/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo > img {
    width: 0;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logo_header {
  display: flex;
  align-items: center;
  text-align: center;
}
.logo_header .return {
  color: #353535;
  margin-left: 1rem;
  text-decoration: none;
  font-size: larger;
}

/*Logo_top*/
.logo {
  padding: 20px 25px 10px 0;
  width: 100%;
}
.logo img {
  width: 60%;
  object-fit: cover;
}

.Menu_image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.main {
  display: grid;
}

.Menu {
  background-color: #f6f6f6;
}
.Menu h3 {
  margin: 0;
  margin-left: 15px;
  padding-bottom: 3px;
  padding-top: 20px;
  font-weight: lighter;
  font-size: 15px;
  color: #505050;
}
.Menu .h3_line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
  margin-left: 15px;
}
.Menu_header {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -50px;
}
.Menu_card {
  display: flex;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 20px 1px #00000026;
  margin: 10px;
  padding: 10px;
}
.Menu_card h4 {
  margin: 0;
  margin-top: 5px;
  font-size: large;
}
.Menu_card span {
  margin-top: 5px;
}
.Menu_card_text {
  width: 100%;
}
.Menu_card_bottom {
  display: flex;
  justify-content: space-between;
  color: #505050;
}
.Menu_card_bottom_price {
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  justify-content: flex-end;
  padding-right: 10px;
  text-align: right;
}
.Menu_button {
  text-align: center;
  padding: 20px;
}

.caption_check_box {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: none;
  position: relative;
}
.caption_check_box i {
  color: #fff;
  font-size: 24px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*# sourceMappingURL=Restaurants.css.map */
