@font-face {
  font-family: "Shrikhand";
  src: url("../Fonts/shrikhand/Shrikhand-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("Fonts/roboto/Roboto-Light.ttf") format("truetype");
}
/*Footer*/
footer {
  background-color: #353535;
  padding: 20px;
}
footer .footer__heading {
  font-family: "Shrikhand", sans-serif;
  margin: 10px 0 0 0;
  color: white;
  font-size: initial;
  font-weight: normal;
}

.footer__menu {
  padding: 0;
}
.footer__menu li {
  list-style: none;
  margin-bottom: 5px;
}
.footer__menu .footer_text {
  color: white;
  text-decoration: none;
  font-size: smaller;
}

.FooterIcon {
  color: white;
  font-size: x-small;
  margin-right: 5px;
}

.omf_button {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 25px;
  padding: 12px 40px 12px 40px;
  color: white;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0 50px 0;
  position: relative;
  z-index: 1;
}
.omf_button:hover::after {
  opacity: 1;
}
.omf_button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.23), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(#ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
}

.like {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  font-size: x-large;
}
.like:hover {
  animation: like 1000ms;
  transform-origin: 50% bottom;
  background-color: red;
}

@keyframes like {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logo_header {
  display: flex;
  align-items: center;
}
.logo_header .logo {
  font-family: "Shrikhand";
}
.logo_header .return {
  color: #353535;
  margin-left: 1rem;
  text-decoration: none;
}

.Menu_image {
  height: 200px;
  width: 100%;
}

.img_menu {
  background-color: blue;
}

.Menu {
  background-color: #f6f6f6;
}
.Menu h3 {
  margin: 0;
  margin-left: 15px;
  padding-bottom: 3px;
  padding-top: 20px;
  font-weight: lighter;
  font-size: 15px;
  color: #505050;
}
.Menu .h3_line {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #99E2D0;
  margin-left: 15px;
}
.Menu_header {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-around;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
}
.Menu_card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 20px 1px #00000026;
  margin: 10px;
  padding: 10px;
}
.Menu_card h4 {
  margin: 0;
  margin-top: 5px;
  font-size: large;
}
.Menu_card span {
  margin-top: 5px;
}
.Menu_card_bottom {
  display: flex;
  justify-content: space-between;
  color: #505050;
}
.Menu_card_bottom_price {
  font-weight: bold;
  margin-right: 10px;
  display: flex;
}
.Menu_button {
  text-align: center;
  padding: 20px;
}

/*# sourceMappingURL=Restaurants.css.map */
