/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    .Menu_direction_card
    {
        flex-direction: row;
    }

    .Menu_card
    {
        width: -webkit-fill-available;
    }

    .logo > img
    {
        width: 30%;
    }

    .logo
    {
        padding: 20px 30px 20px 0;
    }
}