@import "utils/variables";
@import "utils/fonts";
@import "layout/footer";
@import "components/button";

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/*Logo_top*/

.logo
{
  text-align: center;
  padding: 15px;
  img
  {
  width: 60%;
  object-fit: cover;
  }
}

/*Localisation*/

.localisation
{
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  border-top: 1px solid #cfcfcf;
  box-shadow: 0 5px 0 0 #d5d5d5;
  .map_icon
  {
    padding-right: 10px;
  }
}

/*Déscription*/

.description
{
  background-color: #f6f6f6;
  text-align: center;
  font-size: 0.9rem;
  padding: 30px;
}

.description > p
{
  color: #7d7d7d;
}

/*Fonctionnement*/

aside {
  flex: 0 0 100%;
  padding: 30px 10px;

  h2 {
    margin-bottom: 10px;
    margin-left: 5px;
    width: 100%;
  }

  .functioning {
    align-content: space-between;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    padding-top: 15px;
    position: relative;
    width: 100%;
    flex-direction: column;
  }

  .functioning_step {
    background-color: #f6f6f6;
    border-radius: 30px;
    box-shadow: 0 5px 15px 0 darken(#f6f6f6, 20);
    flex: 1 0 auto;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 25px 15px;
    position: relative;
    text-decoration: none;


    .number {
      background-color: $color_primary;
      border-radius: 100%;
      color: #fff;
      display: block;
      font-weight: bold;
      height: 25px;
      left: -12px;
      line-height: 1.67;
      position: absolute;
      text-align: center;
      width: 25px;
    }

    .icon {
      display: inline-block;
      margin: 0 15px;
      min-width: 30px;
      color: gray;

      i {
        font-size: 20px;
      }
    }

    .functioning_text {
      font-weight: bold;
      color: black;
    }

    &:hover {
      background-color: lighten($color_primary, 35%);
      box-shadow: 2px 2px 10px 2px lighten($color_primary, 30%);

      .icon {
        color: $color_primary;
      }
    }
  }
}

/*Restaurants*/

.Cards
{
  background-color: #f6f6f6;
  padding: 20px 10px 50px 10px;
}

.Cards > h2
{
  margin:15px;
}

#Cards_Resto > a
{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  margin-top: 15px;
  box-shadow: 0 0 20px 1px #00000026;

}

#Cards_Resto > a > img
{
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.img_new
{
  background-color: $color-tertiary;
  color: #2c9c81;
  font-weight: bold;
  padding: 3px 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
}

.Cards_text
{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  h3
  {
    margin: 0;
  }
  p
  {
    margin: 0;
  }
}