@font-face
{
    font-family: 'Shrikhand';
    src: url("../Fonts/shrikhand/Shrikhand-Regular.otf") format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    src: url("Fonts/roboto/Roboto-Light.ttf") format('truetype');
}